/out/
/build/
/target/
*.iml
*.log
*.swp
*.swo
*.DS_Store
*.class
*.jar
*.war
*.ear
.vscode/
test/
tests/
__tests__/
*.spec.*
*.test.*
*.tmp
*.bak
.idea/
*.xml
/shelf/
/mavenHomeManager.xml
key.pem


